

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border-radius: 5px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
    background-color: #667380;
    width:1920px;
    height:1080px;
    left:-2020px;
    top:0px;
}
#main{
 
    width: 590px;
    height: 517px;
    top: 282px;
    left:665px;
    background: white;
    offset: 0px, 4px;
    color:rgba(0, 0, 0, 0.15);

}
h1{
    font-size: 48px;
    font-style: Bold;
    font-family: Calibri;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
    color:#4F5F6F;

}
hr{
    height:1px;
    top:364px;
    width:590px;
    left: 665px;
    color:#85CE36;
    background-color:#85CE36;
    border: 1px;
    
}
h2{
    font-family: Calibri;
    font-style: Bold;
    font-size: 30px;
    color: #4F5F6F;
    text-align: center;
    vertical-align: Top;
}
.field1, form #btn{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}
.field2, form #btn{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}
.field1 input{
    height: 100%;
    width: 80%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}
.field2 input{
    height: 100%;
    width: 80%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}
input:focus{
    border: 2px solid #0874b8;
}
.field1 label{
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
    font-size: 18px;
    transition: .4s;
}
.field2 label{
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
    font-size: 18px;
    transition: .4s;
}
input:focus ~ label,
input:valid ~ label{
    transform:translateY(-33px);
    background: white;
    font-size: 16px;
    color:#0874b8;
    font-weight: bold;
}
#rem{
 font-size: 21px;
 margin-top: 20px;
 margin-left: -330px;
}
#forgot{
    font-size: 18px;
    font-style: bold;
    margin-top: -20px;
    margin-left: 350px; 
    color: #0d4d79;
    font-family: Calibri;
}
form #btn{
    margin-top: 60px;
    width: 80%;
    left: 55px;
    overflow: hidden;
    z-index: 111;
}
#btn #inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff,#00dbde, #fc00ff);
}
#btn:hover #inner{
    left: 0;
}
#btn button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
#btn #sub{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
#message{
    color: red;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
}
#message1{
    color: red;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}